:root {
  --background-color: #fafafa;
  --invert-background-color: #333;
  --invert-background-color-secondary: #222;
  --primary-color: #ddd;
  --secondary-color: rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --invert-background-color: #fafafa;
    --invert-backgruond-color-secondary: #ddd;
    --primary-color: #3f3f3f;
    --secondary-color: rgba(0, 0, 0, 0.25);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}
* {
  font-family: "Fira Code", sans-serif;
}
.button {
  background-color: var(--invert-background-color);
  padding: 1rem;
  cursor: pointer;
  color: var(--primary-color);
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 15px var(--secondary-color);
  transition: 0.1s ease-in-out;
}
.button:hover {
  background-color: var(--invert-background-color-secondary);
}
.button:disabled{
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    45deg,
    var(--background-color),
    var(--primary-color)
  );
}
